table {
align:left;
   width: 150%;
   padding:0px 70px 0px 50px;
   }

.requests-block{
  background:#7E685A;
  background:-webkit-linear-gradient(to bottom,#C2CAD0,#E3AFBC);
  background: linear-gradient(to bottom,#C2CAD0,#E3AFBC);
  float:left;
  width:100%;
  padding:30px 50px 480px 0px;
  font-family:'Montserrrat','sans-serif';
}

.btn{
  background:#AC3B61;
  border-color: #501B1D;
}
tr:nth-child(even) {background-color: #CB9EA3;}
td,th{
font-size:18px;
font-family:'Montserrrat','sans-serif';
padding: 15px;
text-align: left;
}
.green {
    background-color: #AC3B61;
}

.red {
    opacity: 0.10;
}
