<body>
<br>
<div class="text-center">
<h1 class="jumbotron-heading text-center" style="color:#950740;">No To Hunger</h1>
<p class="lead" style="color:#950740; opacity:0.8"><b>Lets make this world a better place together, starting with this small step!!</b></p>
<br>

<div class="col-md-12 banner-sec">
<div id="carouselExamples" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExamples" data-slide-to="0" class="active"></li>
<li data-target="#carouselExamples" data-slide-to="1"></li>
<li data-target="#carouselExamples" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="carousel-item col-md-25 active" style="text-align:right;">
<br>
<img class="d-block img-fluid" src="../assets/food-waste-home3.jpg" style="max-height: 390px; width:1800px;" alt="First-slide">
<div class="after"></div>
<div class="carousel-caption d-none d-md-block">
<div class="banner-text">
<h2>No-To-Hunger</h2>
<p style="color:#950740; text-align:left;">Welcome to No-To-Hunger</p>
</div>
</div>
</div>

<div class="carousel-item">
<br><br>
<img class="d-block img-fluid" src="../assets/food-waste-home.jpg" style="max-height: 390px; width:1800px;" alt="Second-slide">
<div class="after"></div>
<div class="carousel-caption d-none d-md-block">
<div class="banner-text">
</div>
</div>
</div>

<div class="carousel-item">
<br><br>
<img class="d-block img-fluid" src="../assets/food-waste-home4.jpg" style="max-height: 390px; width:1800px;" alt="Third-slide">
<div class="after"></div>
<div class="carousel-caption d-none d-md-block">
<div class="banner-text">
<h2>No-To-Hunger</h2>
<p style="color:#950740; text-align:left;">Welcome to No-To-Hunger</p>
</div>
</div>
</div>

<div class="carousel-item">
<br><br> 
<img class="d-block img-fluid" src="../assets/food-waste-home3.jpg" style="max-height: 390px; width:1800px;" alt="Fourth-slide">
<div class="after"></div>
<div class="carousel-caption d-none d-md-block">
<div class="banner-text">
<h2>No-To-Hunger</h2>
<p>Welcome to No-To-Hunger</p>
</div>
</div>
</div>

</div>
</div>
</div>
<br>
<p  style="color:#950740; text-align:center;">
No-To-Hunger is a web-based application that enables organizations/ individuals to donate leftover food<br/>
to the people/ groups in need and the application allows volunteers to offer service such as delivering<br/>
food from donating organizations to needy people. United States Department of Agriculture (USDA) reports<br/>
that food loss occurs at every stage of the production and supply chain. On a day-to-day basis, vast amount<br/>
of fresh food gets expelled from household,restaurants and social events. Food wastage is regarded as a<br/>
global issue, this application aims at restricting food wastage and enable institutions to donate food to<br/>
needy people. Multiple organization wish to donate food can use this application to make their capable<br/>
contributions and the application also allows groups/individuals to put in their food requests.</p>
<br><br>
</div>
</body>

